{% extends 'layout/index.html' %} {% load static %} {% block title %} Coast
Woman | {{article.title}} {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{article.image.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{article.title}}</h1>
          <!-- <h2 class="subheading"></h2> -->
          <span class="meta"
            >Posted by
            <a href="#">{{article.author.first_name}} {{article.author.last_name}}</a>
            on {{article.date}}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<article class="body-text mt-3">
  <div class="container body-font">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          {{article.body}}
        </p>
        <a href="#">
          <img class="img-fluid" src="{{article.image.url}}" alt="" />
        </a>
        <span class="caption text-muted"
          >{{article.Description}}</span
        >
      </div>
    </div>
  </div>
</article>

<hr />

<div class="clearfix text-center">
  <a class="btn btn-primary float-right" href="category_post_list.html"
    >Back &rarr;</a
  >
</div>

{% include 'includes/sponsors.html' %}

{% include 'includes/footer.html' %} {% endblock %}

