{% extends 'layouts/index.html' %} {% load static %} {% block title %} Coast
Woman | Magazine Issues {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}

<!-- isssues display -->
<header class="masthead" style="background-color: grey">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>The Coast Woman Magazine</h1>
          <!-- <h2 class="subheading"></h2> -->
          <span class="meta">
            Released Issues</span
          >
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">
    The Coast Woman
    <small>Published Issues</small>
  </h1>

  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/"
          ><img
            class="card-img-top"
            style="overflow: cover"
            src="{% static 'img/6.jpg' %}"
            alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/">Issue #6</a>
          </h4>
          <p class="card-text">
            March - April 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/"
          ><img
            class="card-img-top"
           
            style="overflow: cover"
            src="{% static 'img/7.jpg' %}"
            alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/">Issue #7</a>
          </h4>
          <p class="card-text">
            May - June 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/"
          ><img
            class="card-img-top"
           
            style="overflow: cover"
            src="{% static 'img/8.jpg' %}"
            alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/">Issue #8</a>
          </h4>
          <p class="card-text">
            July - August 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/"
          ><img
            class="card-img-top"
            style="overflow: cover"
            src="{% static 'img/9.jpg' %}"
            alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/">Issue #9</a>
          </h4>
          <p class="card-text">
            September - October 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/"
          ><img
            class="card-img-top"
            style="overflow: cover"
            src="{% static 'img/10.jpg' %}"
            alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://www.magzter.com/KE/Radiant-Media-Consultants-Ltd/The-Coast-Woman-Magazine/Women%27s-Interest/">Issue #10</a>
          </h4>
          <p class="card-text">
            November - December 2019
          </p>
        </div>
      </div>
    </div>
  
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% include 'includes/footer.html' %} {% endblock %}
