{% extends 'layout/index.html' %}
{% load static %}

{% block title %} Coast woman | {{tag.name}} {% endblock title %} 

{% block content %} 

{% include 'includes/nav.html' %}
<!-- Page Header -->
<header
  class="masthead"
  style="background-color: grey"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tags</h1>
          <span class="subheading">All our Tags</span>
        </div>
      </div>
    </div>
  </div>
</header>

    <div class="container mt-5">
    <div class="row">
        
        {% for item in tag.Articles %}
            
        {% endfor %}
            
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview card py-3 pr-3 pl-3 border-warning">
            <a href="article.html">
            <h2 class="post-title">{{item.title}}</h2>
            <h3 class="post-subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                laudantium eius ex aut, odit ipsam laboriosam commodi amet
                perferendis totam.
            </h3>
            </a>
            <p class="post-meta">
            Posted by
            <a href="#">Coast Woman</a>
            on September 24, 2020
            </p>
        </div>
        <hr />
        </div>
    </div>
    </div> 

    <hr />

{% include 'includes/sponsors.html' %}

{% include 'includes/footer.html' %}

{% endblock %}
