{% extends 'layout/index.html' %}
{% load static %}

{% block title %} Tags | Coast Woman {% endblock title %} 

{% block content %} 
{% include 'includes/nav.html' %}
<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('http://placehold.it/700x300')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tags</h1>
          <span class="subheading">All our Tags</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="container">

    
    {% for tag in tags %}
    <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static '{{tag.imageURL}}' %}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{tag.name}}</h3>
          <p>
              {{tag.description}}
          </p>
          <a class="btn btn-primary" href="#">View Posts</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
    {% endfor %}
        
     <!-- Project One -->

</main>

{% endblock %}
