{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{news.title}} {% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{news.title}}</h1>
          <h2 class="subheading">{{news.category}}</h2>
          <span class="meta">Posted by
            <a href="#">Coast Woman</a>
            on {{news.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article style="font-family: 'Libre Caslon Display', serif;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          {{news.body}}
        </p>
       
        <a href="#">
          <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
        </a>

      </div>
    </div>
  </div>
</article>

<hr>

<div class="clearfix text-center">
  <a class="btn btn-primary float-right" href="{% url 'home' %}">Back &rarr;</a>
</div>
{% endblock %}
