{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>subscription | packages</title>
    <link rel="stylesheet" href="{% static 'css/subscription.css' %}" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">The Coast Woman Magazine | Subscription</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Navigate
              </a>
              <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
              <div
                class="dropdown-menu dropdown-menu-right animate slideIn"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" href="#">Terms and Conditions</a>
                <a class="dropdown-item" href="#">FAQS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'magazine' %}">Magazine Issue</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center mt-5">
      <h1 class="mt-5 text-white font-weight-light">
        
      </h1>
      <p class="lead text-white-50">
        
      </p>
    </div>

    <section class="pricing py-5">
      <div class="container">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  Free
                </h5>
                <h6 class="card-price text-center">
                  $0<span class="period">/month</span>
                </h6>
                <hr />
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Single User
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>5GB
                    Storage
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Unlimited Public Projects
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Community Access
                  </li>
                  <li class="text-muted">
                    <span class="fa-li"><i class="fas fa-times"></i></span
                    >Unlimited Private Projects
                  </li>
                  <li class="text-muted">
                    <span class="fa-li"><i class="fas fa-times"></i></span
                    >Dedicated Phone Support
                  </li>
                  <li class="text-muted">
                    <span class="fa-li"><i class="fas fa-times"></i></span>Free
                    Subdomain
                  </li>
                  <li class="text-muted">
                    <span class="fa-li"><i class="fas fa-times"></i></span
                    >Monthly Status Reports
                  </li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase"
                  >Button</a
                >
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  Plus
                </h5>
                <h6 class="card-price text-center">
                  $9<span class="period">/month</span>
                </h6>
                <hr />
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    ><strong>5 Users</strong>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>50GB
                    Storage
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Unlimited Public Projects
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Community Access
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Unlimited Private Projects
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Dedicated Phone Support
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>Free
                    Subdomain
                  </li>
                  <li class="text-muted">
                    <span class="fa-li"><i class="fas fa-times"></i></span
                    >Monthly Status Reports
                  </li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase"
                  >Button</a
                >
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  Pro
                </h5>
                <h6 class="card-price text-center">
                  $49<span class="period">/month</span>
                </h6>
                <hr />
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    ><strong>Unlimited Users</strong>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>150GB
                    Storage
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Unlimited Public Projects
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Community Access
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Unlimited Private Projects
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Dedicated Phone Support
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    ><strong>Unlimited</strong> Free Subdomains
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span
                    >Monthly Status Reports
                  </li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase"
                  >Button</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
