{% extends 'layout/index.html' %} {% load static %} {% block title %} Coast
Woman Subscriptions {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>This Is An news Title</h1>
          <h2 class="subheading">This is a brief subheading</h2>
          <span class="meta"
            >Posted by
            <a href="#">Coast Woman</a>
            on August 24, 2020</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              One Issue
            </h5>
            <h6 class="card-price text-center">
              KES. 250<span class="period">/Issue</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Online
                Content
              </li>

              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>A Print
                Copy
              </li>
            </ul>
            <a
              href="signup.html"
              class="btn btn-block btn-secondary text-uppercase"
              >Button</a
            >
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              6 Months
            </h5>
            <h6 class="card-price text-center">
              KES. 1275<span class="period">/6 months</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>6 Months Of Access</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Online Content</strong>
              </li>
            </ul>
            <a
              href="signup.html"
              class="btn btn-block btn-secondary text-uppercase"
              >Button</a
            >
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Yearly
            </h5>
            <h6 class="card-price text-center">
              KES. 2500<span class="period">/year</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>365 days Access</strong>
              </li>
              <li></li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Online Content</strong>
              </li>
            </ul>
            <a
              href="signup.html"
              class="btn btn-block btn-secondary text-uppercase"
              >Button</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'includes/footer.html' %} {% endblock %}
