{% extends 'layouts/index.html' %} {% load static %} {% block title %} Coast
Woman | Tags {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}
<!-- Page Header -->
<header class="masthead" style="background-color: #FF00FF">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Our Tags</h1>
          <!-- <h2 class="subheading"></h2> -->
          <span class="meta"
            >Coast Woman Tags</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">
          The Coast Woman
          <small>Our Tags</small>
        </h1>
        <div class="list-group">
            {% for tag in tags %}
            <a href="{% url 'tag-detail' tag.slug %}" class="mb-2 list-group-item list-group-item-action active" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{tag.name}}</h5>
              </div>
              <p class="mb-1">{{tag.description | safe}}</p>
              <small>The Coast Woman</small>
            </a>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include 'includes/side_bar_add.html' %}
      </div>
    </div>
    <!-- /.row -->
  </div>
{% include 'includes/footer.html' %} {% endblock %}