{% extends 'layouts/index.html' %} {% load static %} {% block title %} Coast
Woman | {{news.title}} {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{news.image.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto header-text bg-primary">
        <div class="post-heading">
          <h1>{{news.title}}</h1>
          <!-- <h2 class="subheading"></h2> -->
          <span class="meta"
            >Posted by
            <a href="#">{{news.author.first_name}} {{news.author.last_name}}</a>
            on {{news.date}}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{news.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{news.author.first_name}} {{news.author.last_name}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{news.date}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{news.image.url}}" width="900" 
            height="300" alt="image cover">

        <hr>

        <!-- Post Content -->
        <p class="lead body-font">
          
        </p>
        <blockquote class="blockquote">
          <p class="mb-0">{{news.description | safe}}</p>
          
        </blockquote>

        <p>
        {{news.body | safe}}
        </p>
        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <!-- Tags Widget -->
        <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          {% include 'includes/tags.html' %}
        </div>
        {% include 'includes/side_bar_add.html' %}
      </div>

    </div>
    <!-- /.row -->

  </div>

{% include 'includes/footer.html' %} {% endblock %}

