<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          Travellers Beach Hotel
          <br />
          Mombasa, Kenya
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UCRDcZXw3AjnE-nsD78S-nFA"
          ><i class="fab fa-youtube"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/thecoastwomanmagazine"
          ><i class="fab fa-instagram-square"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="tel:0799599989
        "
          ><i class="fas fa-phone"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/coastwomanmagazine/"
          ><i class="fab fa-facebook"></i></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Coast Woman Magazine</h4>
        <p class="lead mb-0">
          Empowering Women
        </p>
      </div>
    </div>
  </div>
</footer>
