<!-- sponsors-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Coast Woman Talk Shows</h2>
      <h3 class="section-subheading text-muted">Full length video</h3>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/TuN9bZf2zOE"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          The Coast Woman Magazine Talk Show - December 2020
        </p>
      </div>
    </div>
  </div>
</section>
