{% extends 'layouts/index.html' %} {% load static %} {% block title %} Coast
Woman | Home {% endblock %} {% block content %} {% include 'includes/nav.html' %} {% include 'includes/main_header.html' %}
<!-- Call To Action-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- Call to action-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About Coast Woman
    </h2>

    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">
          The coast woman magazine is a periodical lifestyle magazine offering-a
          hybrid mix of sublimely compelling imagery, descriptive copy, and
          concise fact that has been carefully tailored to enthuse, encourage,
          endorse and excite. Primarily a vehicle of promotion, it has been
          designed to span the spectrum of international visitor appeal as well
          as offering updates and insights of interest to locals and industry
          alike.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">
          Guaranteeing a holistic embrace of all aspects of the Coastal
          experience in every issue it will be: information-driven; visually
          stimulating; entirely unbiased; positive, proactive and upbeat;
          culturally inclusive both in content and contribution; clear and
          concise; ethically correct; and forward-looking.
        </p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="{% url 'magazine' %}">
        <i class="fas fa-download mr-2"></i>
        Magazine Issues
      </a>
    </div>
  </div>
</section>

<!-- main tals -->
<div class="container">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    Coast Woman
    <small>Women Spreading Their Wings</small>
  </h1>

  <!-- Top CTA Item Row -->
  <div class="row">
    <div class="col-md-8">
      <img
        class="img-fluid"
        width="750"
        height="300"
        src="{% static 'img/cw-cover.png' %}"
        alt=""
      />
    </div>

    <div class="col-md-4">
      <h3 class="my-3">The Coast Woman</h3>
      <p>
        The Coast Woman Magazine is a bimonthly magazine that highlights
        succesful and influential women from the East African Coast. "Women
        spreading their wings"
      </p>
      <h3 class="my-3">Tags</h3>
      <ul class="list-unstyled">
        {% for tag in tags %}
        <li>
          <a href="">{{tag.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Top Pics</h3>

  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4" data-aos="fade-right">
      <a href="#">
        <img
          class="img-fluid"
          style="object-fit: cover"
          src="{% static 'img/cw/001.png' %}"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4" data-aos="fade-right">
      <a href="#">
        <img
          class="img-fluid"
          style="object-fit: cover"
          src="{% static 'img/cw/005.png' %}"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4" data-aos="fade-right">
      <a href="#">
        <img
          class="img-fluid"
          style="object-fit: cover"
          src="{% static 'img/cw/008.png' %}"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4" data-aos="fade-right">
      <a href="#">
        <img
          class="img-fluid"
          style="object-fit: cover"
          src="{% static 'img/cw/015.png' %}"
          alt=""
        />
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>

<!-- Featured Articles -->
<section class="page-section" id="top-stories">
  <div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">
      Featured Articles
      <small class="body-text">By Coast Woman</small>
    </h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for featured_article in featured_articles %}
      <div class="card m-3">
        <img
          src="{{featured_article.image.url}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{featured_article.title}}</h5>
          <p class="card-text">{{featured_article.body | slice:100 | safe}}</p>
          <a
            href="{% url 'article-read' featured_article.slug %}"
            class="btn btn-primary"
            >Continue Reading</a
          >
        </div>
        <div class="card-footer">
          <small class="text-muted">{{featured_article.date}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- News Updates sesion-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">News Updates</h2>
      <h3 class="section-subheading text-muted">
        Catch What's happening Now on Updates
      </h3>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for new in news %}
      <div class="card m-3">
        <img src="{{new.image.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{new.title}}</h5>
          <p class="card-text">{{new.description | safe}}</p>
          <a href="{% url 'news-read' new.slug %}" class="btn btn-primary"
            >Full Story</a
          >
        </div>
        <div class="card-footer">
          <small class="text-muted">{{new.date}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Tags Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">our tags</h2>
      <h3 class="section-subheading text-muted">
        We cover all crucial and yet fun topics to read
      </h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for tag in tags %}
      <div class="card mb-3" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{tag.name}}</h5>
          <p class="card-text">{{tag.description | safe}}</p>
          
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'includes/video.html' %}

{% include 'includes/footer.html' %} {% endblock content %}
