{% extends 'layout/index.html' %} {% load static %} {% block title %} Coast
Woman {% endblock %} {% block content %}
<!-- navbar -->
{% include 'includes/nav.html' %}

<!-- Header -->
<header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div
        class="carousel-item active"
        style="
          background-image: url('https://source.unsplash.com/2NyNF1mrYGY/1920x1080');
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">COAST WOMAN</h2>
          <p class="lead">A magazine for the Women by the women</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="
          background-image: url('https://source.unsplash.com/nTzLeB6BEPg/1920x1080');
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Coast Woman | Explore</h2>
          <p class="lead">An open heart to tour</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="
          background-image: url('https://source.unsplash.com/oqStl2L5oxI/1920x1080');
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Coast Woman | Insirational</h2>
          <p class="lead">Stories that move</p>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<div class="container">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{% static 'img/cover.jpg' %}" alt="" />
    </div>

    <div class="col-md-4">
      <h3 class="my-3">The Coast Woman</h3>
      <p>
        The Coast Woman Magazine is a bimonthly magazine that highlights
        succesful and influential women from the East African Coast. "Women
        spreading their wings"
      </p>
      <h3 class="my-3">Our Focus</h3>
      <ul>
        <li>Woman Empowerment</li>
        <li>Fashion</li>
        <li>Entertainment</li>
        <li>Entrepreneurship</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Top Pics</h3>

  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="{% static 'img/cw1.jpg' %}" alt="" />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="{% static 'img/cw2.jpg' %}" alt="" />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="{% static 'img/cw3.jpg' %}" alt="" />
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="{% static 'img/cw1.jpg' %}" alt="" />
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Featured Articles -->
<section class="page-section mt-1" id="top-stories">
  <div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">
      Featured Articles
      <small class="body-text">By Coast Woman</small>
    </h1>

    <div class="row">
      {% for featured_article in featured_articles %}
      <div
        class="col-lg-4 col-sm-6 mb-4"
        data-aos="fade-up"
        data-aos-offset="200"
      >
        <div class="card h-100">
          <a href="article.html"
            ><img
              class="card-img-top"
              src="{{featured_article.image.url}}"
              alt=""
          /></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'article-read' featured_article.slug %}">{{featured_article.title}}</a>
            </h4>
            <p class="card-text body-font">{{featured_article.Description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Tags Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">our tags</h2>
      <h3 class="section-subheading text-muted">
        We cover all crucial and yet fun topics to read
      </h3>
    </div>
    <div class="row">
      {% for tag in tags %}
      <div
        class="col-lg-4 col-sm-6 mb-4"
        data-aos="fade-up"
        data-aos-offset="200"
      >
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#">
            <img class="img-fluid" src="{{tag.image.url}}" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{tag.name}}</div>
            <div class="portfolio-caption-subheading text-muted">
              {{tag.description}}
            </div>
            <div class="portfolio-caption-subheading mt-3">
              <a href="category_post_list.html" class="btn btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- News Updates sesion-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">News Updates</h2>
      <h3 class="section-subheading text-muted">
        Catch What's happening Now on Updates
      </h3>
    </div>

    <div class="row">
    {% for new in news %} 
    <div
    class="col-lg-4 col-sm-6 mb-4"
    data-aos="fade-up"
    data-aos-offset="200"
  >
    <div class="portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#">
        <img class="img-fluid" src="{{new.image.url}}" alt="" />
      </a>
      <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{new.name}}</div>
        <div class="portfolio-caption-subheading text-muted">
          {{new.Description}}
        </div>
        <div class="portfolio-caption-subheading mt-3">
          <a href="{% url 'news-read' new.slug %}" class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
  </div>
</section>

{% include 'includes/sponsors.html' %}

{% include 'includes/footer.html' %} {% endblock %}
